DISAMBIGUATION (mandatory):
- Person: {{ bind_name }}
- Employer: {{ bind_employer }}
- Your FIRST web_search query MUST include "{{ bind_employer }}" (or an equivalent employer token).
- Do NOT use name-only queries such as "{{ bind_name }} spouse".
- Reject sources that do not corroborate this employer.
